---
import AutoProcess from './Activities/AutoProcess.astro';
import SecureProcess from './Activities/SecureProcess.astro';
import MonitorProcess from './Activities/MonitorProcess.astro'
import ConsultingProcess from './Activities/ConsultingProcess.astro';
import { Image } from "astro:assets"
import charts2 from '../../assets/charts2.png';
import pyramid from '../../assets/pyramid.webp';
import effects from '../../assets/effects.webp';
import chart3 from '../../assets/charts3.png';
import chart5 from '../../assets/chart4-1.png'
---

<section class='px-[18px] lg:px-[120px] mt-[150px] overflow-hidden'>
  <div class='flex flex-col gap-10'>
    <p
      class='font-trakis mt-[46px] text-xl text-primary uppercase tracking-[-0.6px]'
    >
      [002 OBSZARY DZIAŁANIA]
    </p>
    <h2
      class='uppercase text-white text-[clamp(1.6rem,7vw,3rem)] leading-[52px] lg:max-w-[700px]'
    >
      Działamy w obszarach cyberbezpieczeństwa
    </h2>
  </div>

  <div class="lg:flex lg:items-center lg:justify-center lg:gap-24 2xl:gap-[200px]">
    <AutoProcess />
    <div class='relative'>
      <Image
        class='mt-[61px] object-contain lg:relative lg:mt-[-50px]'
        src={charts2}
        alt='chart-diagram'
      />
      <Image
        class='img absolute bottom-[-183px] md:bottom-[-210px] md:max-w-[70%] md:left-[190px] lg:left-[75px] lg:max-w-[100%] xl:bottom-[-246px] left-[75px] max-w-[100%] -z-[100]'
        src={pyramid}
        alt='pyramid-icon'
      />
    </div>
  </div>
  <div class="lg:flex lg:items-center lg:justify-center lg:gap-24 2xl:gap-[100px]">
    <SecureProcess />
    <Image class='mt-[80px] lg:max-w-[50%] lg:order-[-1]' src={effects} alt='chart-diagram'/>
  </div>
  <div>
    <MonitorProcess />
    <Image class='mt-[95px]' src={chart3} alt='chart-diagram'/>
  </div>
  <div>
    <ConsultingProcess />
    <Image class='mt-[53px] mb-[180px]' src={chart5} alt='chart-diagram'/>
  </div>
</section>
