---
import AutoProcess from './Activities/AutoProcess.astro';
import SecureProcess from './Activities/SecureProcess.astro';
import MonitorProcess from './Activities/MonitorProcess.astro'
import ConsultingProcess from './Activities/ConsultingProcess.astro';
import { Image } from "astro:assets"
import charts2 from '../../assets/charts2.png';
import pyramid from '../../assets/pyramid.webp';
import effects from '../../assets/effects.webp';
import chart3 from '../../assets/charts3.png';
import chart5 from '../../assets/chart4-1.png'
---

<section class='px-[18px] mt-[150px] lg:mt-[650px] overflow-hidden'>
  <div class='flex flex-col gap-10'>
    <p
      class='font-trakis mt-[46px] text-xl text-primary uppercase tracking-[-0.6px]'
    >
      [002 OBSZARY DZIAŁANIA]
    </p>
    <h2
      class='uppercase text-white text-[clamp(1.6rem,7vw,3rem)] leading-[52px]'
    >
      Działamy w obszarach cyberbezpieczeństwa
    </h2>
  </div>

  <AutoProcess />
  <div class='relative'>
    <Image
      class='mt-[61px] object-contain'
      src={charts2}
      alt='chart-diagram'
    />
    <Image
      class='img absolute bottom-[-183px] left-[75px]  max-w-[100%] -z-[100]'
      src={pyramid}
      alt='pyramid-icon'
    />
  </div>
  <SecureProcess />
  <Image class='mt-[80px]' src={effects} alt='chart-diagram'/>
  <MonitorProcess />
  <Image class='mt-[85px]' src={chart3} alt='chart-diagram'/>
  <ConsultingProcess />
  <Image class='mt-[53px]' src={chart5} alt='chart-diagram'/>
</section>
